/*  your css code here. If applicable */
body{
    background-color: #F6F6F6;
}

.container{
    background-color: #ffffff;
    display: flex;
}

.block-heading{
	text-align: center;
	color: #3b99e0;
	margin: 20px 0px 20px;
}
.sub-title{
	text-align: center;
}
.img-fluid{
	width: 100px;
	height: 100px
}

.row{
	width: 100%;
	margin-bottom: 20px;
}

/* .row > div {
    flex: 1;
    padding: 10px;
} */

.price{
    margin-top: 20px;
}

.product{
    margin-top: 30px;
    padding-top: 20px;
}

.summary{
  background-color: #f7fbff;
  border-top: #5ea4f3;
}

.cta{
    display: flex;
    justify-content: center;
}

.primary{
    background-color: #017BFE;
    border: none;
    border-radius: 5px;
    width:60%;
    height: 40px;
    color: #ffffff;
}

.bill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

